@mixin nav{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    a{
        text-decoration: none;
        color: white;
    }
}

@mixin redButton{
    background-color: red;
    color: white;
    font-size: larger;
    font-weight: bold;
    border-radius: 10px;
}

@mixin form {
    background-color: grey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        width: 30%;
        opacity: 0.9;
        border-radius: 10px;
        margin-bottom: 100px;
        
        .div {
            display: flex;
            gap: 20px;
        }
}

@mixin altMenu{
        width: 220vh;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(./assets/NetflixBackground.png);
}
